@font-face {
  font-family: 'Titillium Web';
  src: url('./font.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

h1,
h2 {
  color: #93005a;
}

h1 {
  font-size: 2rem;
}

#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  margin: 1rem;
  min-width: 330px;
}

button {
  margin-top: 0.5rem;
}

footer {
  padding: 1rem;
}